@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

html,
body {
  overflow: auto;
}

body {
  font-family: "Ubuntu";
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
#navItem-company {
  color: #d42027;
}
.sticky {
  height: 30px;
  position: sticky;
  top: 73px;
  z-index: 2;
  background-color: #fff;
}
@media only screen and (max-width: 425px) {
  .sticky {
    display: none;
  }
}

.bread-crumb-a {
  font-family: "Ubuntu", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  color: #6b6b6b;
  font-weight: 300;
}

.main-space {
  margin-top: 100px;
}

.started {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #111335;
  font-family: "ubuntu" !important;
}

.timimg_india {
  color: #0d1035;
  font-weight: 800;
  font-size: 25px;
  line-height: 40px;
  font-family: "ubuntu" !important;
}

.its_not_what {
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
}

.win_text {
  color: #0d1035;
  font-weight: 700;
  font-size: 30px;
  line-height: 40.5px;
}

.our_journey {
  color: #000033;
  font-weight: 700;
  font-size: 39px;
  line-height: 52.5px;
}

.our_firms {
  background-color: #dfeeff94;
  padding: 5%;
}

.firms {
  font-size: 30px;
  font-weight: 700;
  font-family: "Ubuntu";
}

.will_to_win {
  margin-top: 5%;
}

.getstarted {
  background-color: #d42027;
  color: #ffffff;
}

.fa-arrow-right {
  font-size: 24px;
}
.icons {
  color: #ffffff;
  font-size: 25px !important;
  letter-spacing: 20px;
  line-height: 30px;
}

.text-black {
  color: #000033;
  font-size: 19px;
}

.copyright {
  color: #fff;
}

@media screen and (max-width: 1440px) {
  .grey_color {
    background-color: gainsboro;
    height: 118vh !important;
  }
}
.height {
  height: 47.2% !important;
  margin-top: 22px;
}
/* #navBarComponent2:hover {
  background: #e6e6e6 !important;
  border-radius: 20px;
}
#navBarComponent1:hover {
  background: #e6e6e6 !important;
  border-radius: 20px;
}
.dropdown-item:hover {
  background-color: #e6e6e600 !important;
  color: #161616 !important;
  font-weight: 700;
} */
/* .dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
} */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d22027;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}


  .there_is {
    font-size: 18px;
    font-family: 'ubuntu';
    line-height: 28px;
    text-align: center;
    color: #000000;
  }



@media only screen and (max-width: 1300px) {
  .timimg_india {
    font-size: 25px;
    line-height: 39px;
    margin-top: 50px;
  }
 
  
  
}
@media only screen and (max-width: 1024px) {
  
  .win_1 {
    width: 180px;
  }
  .there_is {
    font-size: 18px;
    line-height: 28px;
  }
  .thumb,
  .tripleOne {
    width: 150px;
  }
  .our_journey {
    font-size: 23px;
  }
}
@media only screen and (max-width: 800px) {
 

  
 
  .win_1 {
    width: 170px;
  }
  .thumb,
  .tripleOne {
    width: 140px;
  }
}
@media only screen and (max-width: 768px) {
  .timimg_india {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  .started {
    font-size: 16px;
    line-height: 26px;
    
  }
  .there_is {
    font-size: 16px;
    line-height: 26px;
  }
  .its_not_what {
    font-size: 20px;
    line-height: 30px;
  }
  .win_1 {
    width: 150px;
  }
  .thumb,
  .tripleOne {
    width: 120px;
  }
  .win_text {
    font-size: 23px;
    line-height: 25px;
  }
  .our_journey {
    font-size: 22px;
    line-height: 20px;
  }
  
}
@media only screen and (max-width: 425px) {
  
  
  
  .win_1 {
    width: 150px;
  }
  .thumb,
  .tripleOne {
    width: 120px;
  }
  .win_text {
    font-size: 23px;
    line-height: 25px;
  }
  .our_journey {
    font-size: 20px;
    line-height: 20px;
  }

  .text-black {
    font-size: 15px;
  }
}

/* flip cards styles */
.flip-main-container {
  margin: 0 auto;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 8% 0%;
}
.flip-main-container .flexIt {
  display: flex;
  justify-content: space-evenly;
}
.flipContainer {
  position: relative;
  width: 400px;
  height: 500px;
  
}
.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  
}
.thecard:hover {
  transform: rotateY(180deg);
}
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 25px;
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #000033;
  transform: rotateY(180deg);
  border-radius: 25px;
}
.missionText,
.visionText {
  position: absolute;
  top: 120px;
  left: 30px;
  color: white;
  font-size: 20px;
  width: 90%;
}

.mission, .vision {
  color: #929292;
  font-weight: 700;
  font-size: 55px;
  line-height: 40.5px;
  position: absolute;
  top: 350px;
  width: 100%;
  left: 0;
  text-align: center;
}


.shaped-text {
  font-size: 19px;
}

@media only screen and (min-width: 2000px) {
  .flipContainer {
    width: 510px;
    height: 630px;
  }
  .mission {
    font-size: 80px;
    top: 450px;

  }
  .vision {
    font-size: 80px;
    top: 450px;

  }
  .missionText {
    font-size: 25px;
    top: 175px;
    left: 33px;
  }
  .visionText {
    font-size: 25px;
    top: 263px;
    left: 33px;
  }
}
@media only screen and (max-width: 2000px) {
  .missionText {
    font-size: 22px;
    top: 95px;
    left: 23px;
  }
  .visionText {
    font-size: 22px;
    top: 173px;
    left: 23px;
  }
}
@media only screen and (max-width: 1800px) {
  .missionText {
    font-size: 20px;
    top: 125px;
    left: 23px;
  }
  .visionText {
    font-size: 20px;
    top: 173px;
    left: 23px;
  }
}
@media only screen and (max-width: 1500px) {
  .flip-main-container {
    padding: 6% 0%;
    transition: all 0.35 ease;
  }
  .flipContainer {
    width: 290px;
    height: 370px;
  }
  .mission {
    font-size: 50px;
   
    top: 280px;
  }
  .vision {
    font-size: 50px;

    top: 280px;
  }
  .missionText {
    font-size: 18px;
    top: 65px;
    left: 23px;
  }
  .visionText {
    font-size: 19px;
    top: 113px;
    left: 23px;
  }
}
@media only screen and (max-width: 1200px) {
  .missionText {
    font-size: 18px;
    top: 55px;
    left: 23px;
  }
  .visionText {
    font-size: 18px;
    top: 123px;
    left: 33px;
  }
}
@media only screen and (max-width: 1024px) {
  .flipContainer {
    width: 290px;
    height: 370px;
  }
  .mission {
    font-size: 50px;
    top: 280px;
  }
  .vision {
    font-size: 50px;
  
    top: 280px;
  }
  .missionText {
    font-size: 17px;
    top: 75px;
    left: 23px;
  }
  .visionText {
    font-size: 17px;
    top: 123px;
    left: 23px;
  }
  .firms {
    font-size: 30px;
    font-weight: 700;
    font-family: "Ubuntu";
  }
}
@media only screen and (max-width: 800px) {
  .missionText {
    font-size: 17px;
    top: 75px;
    left: 23px;
  }
  .visionText {
    font-size: 17px;
    top: 123px;
    left: 23px;
  }
}
@media only screen and (max-width: 768px) {
  .flip-main-container {
    width: 80%;
    padding: 1% 0;
  }
  .flipContainer {
    width: 260px;
    height: 340px;
  }
  .flip-main-container .flexIt {
    display: block;
  }
  .flipContainer {
    margin: 50px auto;
  }
  .mission {
    font-size: 45px;

    top: 240px;
  }

  .vision {
    font-size: 45px;
   
    top: 240px;
  }
  .missionText {
    font-size: 16px;
    top: 75px;
    left: 23px;
  }
  .visionText {
    font-size: 16px;
    top: 123px;
    left: 23px;
  }
}
@media only screen and (max-width: 425px) {
  .flip-main-container {
    padding: 1% 0;
    width: 95%;
  }
  .flipContainer {
    width: 230px;
    height: 310px;
  }
  .mission {
    font-size: 35px;
  
    top: 190px;
  }
  .vision {
    font-size: 35px;
  
    top: 190px;
  }

  .missionText {
    font-size: 13px;
    top: 45px;
    left: 13px;
  }
  .visionText {
    font-size: 13px;
    top: 85px;
    left: 19px;
  }
}
@media only screen and (max-width: 320px) {
  .flipContainer {
    width: 200px;
    height: 280px;
  }
  .mission {
    font-size: 35px;
 
    top: 190px;
  }
  .vision {
    font-size: 35px;
 
    top: 190px;
  }
  .missionText {
    font-size: 13px;
    top: 45px;
    left: 13px;
  }
  .visionText {
    font-size: 13px;
    top: 85px;
    left: 19px;
  }
  .flip-main-container {
    padding: 1% 0;
    width: 95%;
  }
}
/* flip cards styles */

/*  brand logo styles ifinish and sams */
.ifinish_sport_Cont {
  display: flex;
  gap: 3%;
}
.ifinishLogo {
  width: 250px;
}
.samsLogo {
  width: 300px;
}
.brandLogo {
  width: 100%;
  margin: 20px 0;
  height: 100px;
}
.discoverText {
  text-decoration: none;
  color: #000033;
  span {
    color: #d22027 !important;
  }
}
.ticketing {
  padding: 0 1%;
  font-size: 16px;
  line-height: 26px;
  min-height: 50px;
  /* max-height: 20px; */
}
.discoverText:hover {
  font-weight: 600;
  color: #000033;
}
.getStarted_btn {
  background-color: #d42027;
  font-family: "ubuntu";
  text-decoration: none;
  padding: 10px 15px;
  color: white;
  border-radius: 20px;
  span {
    display: inline-block;
    transition: transform 0.5s ease;
  }
}
.getStarted_btn:hover {
  color: #f5f5f5 !important;
  font-weight: 500;
  span {
    color: #f5f5f5 !important;
    transform: translateX(10px);
  }
}

@media only screen and (max-width: 768px) {
  .ifinish_sport_Cont {
    flex-direction: column;
   
  }
  .brandLogo {
    height: 80px;
  }

  .getStarted_btn {
    padding: 7px 9px;
  }
  .ifinishLogo {
    width: 230px;
  }
  .samsLogo {
    width: 300px;
    margin-left: -20px;
  }
}


@media only screen and (max-width: 425px) {
  .ifinishLogo {
    width: 220px;
  }
  .samsLogo {
    width: 280px;
    margin-left: -20px;
  }
}