* {
  padding: 0;
  margin: 0;
}
.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}
.navbar {
  background: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 51);
  font-weight: 500;
  font-size: 17px !important;
}
header.fixed-top {
  height: 75px ;
}
.dropdown-menu {
  border-radius: 9px !important;
}
.header-dropdown-menu {
  width: 500px !important;
  left: -100px !important;
  padding: 0px 10px !important;
  border-radius: 9px !important ;
}
.navbar-nav {
  display: flex  !important;
  align-items: center !important;
}
.brandlogo {
  width: 180px;
  transition: all 0.5 ease;
}
.requestdemoBtn {
  color: white !important;
  font-size: 16px !important;
  padding: 4px 11px !important;
  font-weight: 500 !important;
  border: none !important;
}
#navBarComponent2:hover,  #navBarComponent1:hover {
  background: #fff !important;
}
  .dropdown-item:hover {
    background-color: #e6e6e600 !important;
    color: #161616 !important;
    font-weight: 700;
  }
  .responsive {
    display: flex;
    align-items: center;
  }
@media only screen and (max-width: 1024px) {
  .brandlogo {
    width: 170px;
  }
}
@media only screen and (max-width: 991px) {
  .responsive {
    align-items: start;
    height: 60vh ;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .border {
    border: none !important;
  }
  .logo-responsive {
    width: 200px;
  }
  .header-dropdown-menu {
    width: 100%;
  }
  .navbar-togger {
    border: none;
  }
  .navbar-nav {
    align-items: flex-start !important;
  }
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
}

@media only screen and (max-width: 768px) {
  .brandlogo {
    width: 160px;
  }
  
}
@media only screen and (max-width: 425px) {
  .brandlogo {
    width: 100px;
  }
}

