* {
  padding: 0%;
  margin: 0%;
}

html,
body {
  padding: 0%;
  margin: 0%;
  font-family: "Ubuntu";
}
#img_id_2 {
  display: block;
  width: 100%;
  padding: 5%;
}
.bottom-screen {
  background-color: rgb(244, 249, 255);
  border-radius: 75px;
  margin-top: 17px;
  margin-right: -8px;
  padding-bottom: 100px;
  z-index: 1;
}

.requestBtn {
  border: none;
  background: #d54549;
  padding: 8px 15px;
  font: 25px;
  box-shadow: 0 0 1px 2px rgb(195, 192, 192);
}

.requestBtn:hover {
  font: 16px;
  background: #d14449;
}

@media only screen and (max-width: 1470px) {
  .requestBtn {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1170px) {
  .bottom-screen {
    margin-top: 17px;
    margin-right: -8px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 1140px) {
  .bottom-screen {
    margin-top: 17px;
    margin-right: -8px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .contact-space {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 60px;
    width: 100% !important;
  }

  .bottom-screen {
    border-radius: 0px;
  }

  .requestBtn {
    font-size: 17px !important;
    line-height: 15px;
    margin-top: 10px !important;
  }
}

@media only screen and (max-width: 600px) {
  .requestBtn {
    font-size: 15px !important;
    line-height: 15px;
    margin-top: 10px !important;
  }
}

.caseStudiesContainer {
  position: relative;
  box-sizing: border-box;
  padding: 1%;
  max-width: 1500px;
  margin: 0 auto ;
}

.caseStudyHeading {
  font-size: 40px;
  color: rgb(0, 0, 51);
  font-weight: 800;
  text-align: center;
  font-family: "ubuntu";
}

.case_02 {
  display: none;
}

.case_02_para1 {
  max-width: 400px;
  font-size: 20px;
  line-height: 30px;
  font-family: "ubuntu";
  color: #000033 !important;
  font-weight: 600;
  display: block;
  margin: auto;
}

.case_02_para2 {
  max-width: 400px;
  font-size: 16px;
  font-family: "ubuntu";
  color: #000033 !important;
  font-weight: 400;
  display: block;
  margin: auto;
}

.stickyContainer {
  display: flex;
  align-items: flex-start;
  padding-top: 5%;
  position: relative;
  gap: 3%;
}

.caseStudyInnerC {
  position: relative;
  width: 100%;
}

.caseStudyVector4 {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30%;
}

.caseStudyVector5 {
  position: absolute;
  right: 0px;
}

.stickyItem {
  opacity: 0.5;
  font-family: "ubuntu", sans-serif !important;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stickyItem p:first-child {
  font-weight: 600;
  margin: 0px;
  font-family: "ubuntu", sans-serif !important;
  font-size: 25px;
  line-height: 35px;
  margin: 20px 0px;
  color :#000;
}

.stickyItem p:nth-child(2) {
  font-weight: 300;
  margin: 0px;
  font-family: "ubuntu", sans-serif !important;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0px;
}

.content .stickyItem:nth-child(2), 
.content .stickyItem:nth-child(3) {
  margin: 31vh 0px;
}

.content .stickyItem:nth-child(4) {
  margin-bottom: 0px;
}




.activeStickyItem {
  opacity: 1;
}

.image-wrapper {
  width: 50%;
  position: sticky;
  top: 25vh;

  & img {
    width: 100%;
    border-radius: 0px 15px 15px 0px;
  }
}

.content {
  width: 50%;
  text-align: justify;
}

@media only screen and (min-width: 2561px) {
  .stickyItem {
    padding: 8%;
  }


  .discoverMore {
    font-size: 30px;
    cursor: grabbing;
  }

  
 

 
}

@media only screen and (max-width: 2560px) {
  .stickyItem {
    padding: 8%;
  }

  

  .discoverMore {
    font-size: 30px;
  }



  .content .stickyItem:nth-child(2), .content .stickyItem:nth-child(3) {
    margin: 31vh 0px;
  }

  .content .stickyItem:nth-child(4) {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 2300px) {
  .stickyItem {
    padding: 8%;
  }

  

  .discoverMore {
    font-size: 30px;
  }


  .content .stickyItem:nth-child(2), .content .stickyItem:nth-child(3){
    margin: 31vh 0px;
  }

  .content .stickyItem:nth-child(4) {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 2000px) {
  .stickyItem {
    padding: 8%;
  }

  

  .discoverMore {
    font-size: 30px;
  }

  .content .stickyItem:nth-child(2), .content .stickyItem:nth-child(3){
    margin: 31vh 0px;
  }

  .content .stickyItem:nth-child(4) {
    margin-bottom: 0px;
  }

  .case_02_para1 {
    font-size: 27px;
  }
  .case_02_para2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1800px) {
  .case_02_para1 {
    font-size: 24px;
  }
  .case_02_para2 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1540px) {
  .stickyItem {
    padding: 8%;
  }

  .discoverMore {
    font-size: 28px;
  }



  .content .stickyItem:nth-child(2), .content .stickyItem:nth-child(3) {
    margin: 31vh 0px;
  }

  .content .stickyItem:nth-child(4) {
    margin-bottom: 0px;
  }

  .case_02_para1 {
    color: #000033;
  }

  .case_02_para2 {
    color: #000033;
  }
}

@media only screen and (max-width: 1419px) {
  .stickyItem {
    padding: 8%;
  }

  


  .discoverMore {
    font-size: 25px;
  }

 
  .content .stickyItem:nth-child(2), .content .stickyItem:nth-child(3){
    margin: 31vh 0px;
  }

  .content .stickyItem:nth-child(4) {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 1200px) {
  .stickyItem {
    padding: 8%;
  }

  .stickyItem p:first-child {
    font-size: 22px;
    line-height: 27px;
    margin: 0px 0px 25px;
  }

  .stickyItem p:nth-child(2) {
    font-size: 17px;
    line-height: 23px;
  }

  .discoverMore {
    font-size: 20px;
  }


  .content .stickyItem:nth-child(2), .content .stickyItem:nth-child(3) {
    margin: 31vh 0px;
  }

  .content .stickyItem:nth-child(4) {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 900px) {
  .stickyItem {
    padding: 8%;
  }

  .stickyItem p:first-child {
    font-size: 16px;
    line-height: 26px;
    margin: 0px 0px 20px;
  }

  .stickyItem p:nth-child(2) {
    font-size: 16px;
    line-height: 20px;
  }

  .discoverMore {
    font-size: 18px;
  }

  .content .stickyItem:nth-child(2), .content .stickyItem:nth-child(3) {
    margin: 31vh 0px;
  }

  .content .stickyItem:nth-child(4) {
    margin-bottom: 0px;
  }
}

.case_02 {
  padding: 5%;
}

#case_02_img {
  display: flex;
  margin: 0px auto;
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  .case_01 {
    display: none;
  }

  .case_02 {
    display: block;
    position: relative;
    padding: 1% 5%;
  }

  #case_02_img {
    width: 80%;
  }

  .case_02_StudyVector5 {
    position: absolute;
    right: 0px;
    top: -45px;
    width: 30px;
  }

  .case_02_para1 {
    line-height: 17px;
    font-size: 16px;
    padding: 10px;
    color: #000033;
  }

  .case_02_para2 {
    font-size: 15px;
    line-height: 16px;
    padding: 10px;
    color: #000033;
  }

  #case_02_tab li {
    padding: 0px 10px;
    background-color: #d2d3d4;
    border-radius: 140px;
    margin: 10px 10px;
    width: 15px;
    height: 15px;
    padding: 0;
  }
}

@media only screen and (max-width: 430px) {
  .case_02_para1 {
    line-height: 17px;
    font-size: 15px;
    padding: 10px;
    color: #000033;
  }

  .case_02_para2 {
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
    color: #000033;
  }
}

@media only screen and (max-width: 375px) {
  .case_02_para1 {
    line-height: 17px;
    font-size: 15px;
    padding: 10px;
    color: #000033;
    font-family: "ubuntu" !important;
  }

  .case_02_para2 {
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
    color: #000033;
  }
}

/* .service_Container {
  height: 88vh;
} */
.group_93 {
  position: absolute;
  right: 0;
  width: 50px;
}

.service {
  font-weight: 800;
  font-size: 30px;
  line-height: 52.5px;
  color: rgb(0, 0, 51);
  font-family: "ubuntu";
}

.we-offer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
  margin: 150px 0px;
}

.weofferBox1 {
  width: 220px;
  height: 220px;
  opacity: 0;
  transform: scale(0.6);
  transition: 1s ease-in-out;
}

.showBox {
  opacity: 1;
  width: 220px;
  height: 220px;
  transition: 1s ease-in-out;
}

.byIndustry,
.byExpert {
  position: relative;
}

.industryImage,
.expertiseImage {
  width: 100%;
  padding: 5%;
  display: block;
  margin: 0px auto;
}

#semiContainer {
  position: absolute;
  top: -15px;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

#circleContainer {
  position: absolute;
  top: -15px;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.semiCircle_01 {
  width: 100%;
  margin-top: -10px;
}

.semiCircle_02 {
  width: 100%;
  margin-top: 7px;
}

.semiCircleDimensions {
  width: 50px;
  height: 50px;
  font-family: Ubuntu;
  border-radius: 50%;
  border: 0.1px solid rgb(255, 255, 255);
  box-shadow: rgb(169, 163, 163) 0px 10px 10px;
  position: absolute;
  background-position: center center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  transition: all 0.4s ease-in-out 0s;
}

.semiCircle_01_icon1 {
  bottom: -36px;
  left: -19px;
}

.semiCircle_01_icon2 {
  bottom: -61px;
  left: 85px;
}

.semiCircle_01_icon3 {
  bottom: -24px;
  left: 199px;
}

.semiCircle_01_icon1 {
  background-image: url("../images/Services/By industry/Sports.png");
}

.semiCircle_01_icon1:hover {
  background-size: 45px 45px;
  background-color: rgb(100, 131, 160);
}

.semiCircle_01_icon2 {
  background-image: url("../images/Services/By industry/Public-Sector.png");
}

.semiCircle_01_icon2:hover {
  background-size: 45px 45px;
  background-color: rgb(100, 131, 160);
}

.semiCircle_01_icon3 {
  background-image: url("../images/Services/By industry/Education.png");
}

.semiCircle_01_icon3:hover {
  background-size: 45px 45px;
  background-color: rgb(100, 131, 160);
}

.semiCircle_02_icon1 {
  background-image: url("../images/Services/By expertise/Ai.png");
}

.semiCircle_02_icon1:hover {
  background-size: 45px 45px;
  background-color: rgb(100, 131, 160);
}

.semiCircle_02_icon2 {
  background-image: url("../images/Services/By expertise/CCTV_.png");
}

.semiCircle_02_icon2:hover {
  background-size: 45px 45px;
  background-color: rgb(100, 131, 160);
}

.semiCircle_02_icon3 {
  background-image: url("../images/Services/By expertise/Cloud.png");
}

.semiCircle_02_icon3:hover {
  background-size: 45px 45px;
  background-color: rgb(100, 131, 160);
}

.semiCircle_02_icon4 {
  background-image: url("../images/Services/By expertise/Biometric.png");
}

.semiCircle_02_icon4:hover {
  background-size: 45px 45px;
  background-color: rgb(100, 131, 160);
}

.semiCircle_02_icon5 {
  background-image: url("../images/Services/By expertise/It Security.png");
}

.semiCircle_02_icon5:hover {
  background-size: 45px 45px;
  background-color: rgb(100, 131, 160);
}

.semiCircle_02_icon6 {
  background-image: url("../images/Services/By expertise/Maintanence.png");
}

.semiCircle_02_icon6:hover {
  background-size: 45px 45px;
  background-color: rgb(100, 131, 160);
}

.semiCircle_02_icon7 {
  background-image: url("../images/Services/By expertise/Qa services.png");
}

.semiCircle_02_icon7:hover {
  background-size: 45px 45px;
  background-color: rgb(100, 131, 160);
}

.semiCircle_02_icon8 {
  background-image: url("../images/Services/By expertise/Registration.png");
}

.semiCircle_02_icon8:hover {
  background-size: 45px 45px;
  background-color: rgb(100, 131, 160);
}

.semiCircle_02_icon9 {
  background-image: url("../images/Services/By expertise/RFID.png");
}

.semiCircle_02_icon9:hover {
  background-size: 45px 45px;
  background-color: rgb(100, 131, 160);
}

.semiCircle_02_icon10 {
  background-image: url("../images/Services/By expertise/Web And Mobile.png");
}

.semiCircle_02_icon10:hover {
  background-size: 45px 45px;
  background-color: rgb(100, 131, 160);
}

.iconsText {
  position: absolute;
  color: rgb(0, 0, 51);
  font-weight: 600;
  font-size: 16px;
  font-family: "Ubuntu";
  opacity: 0;
  transition: all 0.5s ease-in-out 0s;
}

.icon_text1 {
  top: 0px;
  left: -8px;
}

.icon_text2 {
  top: 0px;
  width: 150px;
  left: -20px;
}

.icon_text3 {
  top: 0px;
  left: -8px;
}

.icon2_text1 {
  top: 26px;
  left: 17px;
}

.icon2_text2 {
  top: 26px;
  left: 10px;
}

.icon2_text3 {
  top: 10px;
  left: 3px;
}

.icon2_text4 {
  top: 10px;
  left: 3px;
}

.icon2_text5 {
  top: 26px;
  left: -14px;
  width: 100px;
}

.icon2_text6 {
  top: 26px;
  left: -15px;
}

.icon2_text7 {
  top: 26px;
  left: -18px;
  width: 90px;
  text-align: center;
}

.icon2_text8 {
  top: 16px;
  left: -24px;
}

.icon2_text9 {
  top: 16px;
  left: 39px;
}

.icon2_text10 {
  top: 19px;
  left: -70px;
  width: 150px;
  line-height: 16px;
}

.semiCircle_02_icon1 {
  position: absolute;
  top: -57px;
  left: 85px;
}

.icons_002 {
  width: 70px;
}

.icons2_text {
  position: absolute;
}

.semiCircle_02_icon2 {
  position: absolute;
  top: -28px;
  left: 183px;
}

.semiCircle_02_icon3 {
  position: absolute;
  top: 45px;
  left: 232px;
}

.semiCircle_02_icon4 {
  position: absolute;
  top: 150px;
  left: 229px;
}

.semiCircle_02_icon5 {
  position: absolute;
  top: 216px;
  left: 185px;
}

.semiCircle_02_icon6 {
  position: absolute;
  top: 250px;
  left: 85px;
}

.semiCircle_02_icon7 {
  position: absolute;
  top: 226px;
  left: -2px;
}

.semiCircle_02_icon8 {
  position: absolute;
  top: 155px;
  left: -57px;
}

.semiCircle_02_icon9 {
  position: absolute;
  top: 39px;
  left: -60px;
}

.semiCircle_02_icon10 {
  position: absolute;
  top: -30px;
  left: -5px;
}

.sports {
  margin-top: 130%;
  margin-left: -15%;
}

.public {
  margin-top: 155%;
  margin-left: 15%;
}

.education {
  margin-top: 130%;
}

.slideDown {
  transform: translateY(50px);
  transition: 0.5s ease-in-out;
  opacity: 1 !important;
  /* z-index: 100; */
}

.slideDown2 {
  transform: translateY(30px);
  transition: 0.5s ease-in-out;
  opacity: 1 !important;
  /* z-index: 100; */
}

.slideUp {
  transform: translateY(-55px);
  transition: 0.5s ease-in-out;
  opacity: 1 !important;
  /* z-index: 100; */
}

.slideLeft {
  transform: translateX(-80px);
  transition: 0.5s ease-in-out;
  opacity: 1 !important;
  /* z-index: 100; */
}

.slideRight {
  transform: translateX(55px);
  transition: 0.5s ease-in-out;
  opacity: 1 !important;
  /* z-index: 100; */
}

@media only screen and (min-width: 2000px) {
  .service {
    font-size: 60px;
    margin: 40px 0;
  }

  .showBox {
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 2000px) {
  .service {
    font-size: 60px;
    margin: 40px 0;
  }

  .showBox {
    transform: scale(1.2);
  }

  /* .service_Container {
    height: 80vh;
  } */
}

@media only screen and (max-width: 1500px) {
  .service {
    font-size: 35px;
    margin: 20px 0;
  }

  .showBox {
    transform: scale(1);
  }

  /* .service_Container {
    height: 80vh;
  } */
}

@media only screen and (max-width: 1200px) {
  .service {
    font-size: 35px;
    margin: 30px 0;
  }
  .we-offer {
    gap: 200px;
  }
  /* .service_Container {
    height: 77vh;
  } */
}

@media only screen and (max-width: 1024px) {
  .service {
    font-size: 30px;
    margin: 20px 0;
  }
  .we-offer {
    gap: 170px;
  }
 
}

@media only screen and (max-width: 900px) {
  .service {
    font-size: 25px;
    margin: 20px 0;
  }

  /* .service_Container {
    height: 70vh;
  } */
}

@media only screen and (max-width: 768px) {
  .service_Container {
    display: none;
  }

  .service {
    font-size: 20px;
    margin: 20px 0;
  }
}

/* we are time  */
.weAreContainer {
  background-color: #f4f9ff;
  padding-bottom: 2%;
  font-family: "ubuntu" !important;
}

.weAreHeading {
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  line-height: 52.5px;
  color: rgb(0, 0, 51);
  font-family: "ubuntu" !important;
}

.weAre_innerContainer {
  /* border: 1px solid red; */
  /* margin: 2%; */
  background-color: white;
  border-radius: 10px;
}

.weAreList {
  display: flex;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* .WeAre-nav-item {
  width: 25%;
  margin: 1%;
} */

.progress-bar__inner {
  background: green;
  position: absolute;
  height: 15px;
  top: 0;
  left: 0;
  width: 0;
  transition: width 0.3s ease;
}

.progress {
  width: 100%;
  height: 20px !important;
  background-color: #fff !important;
  padding: 0 1% !important ;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #515251 !important;
  animation: progress 10s forwards;
  animation-iteration-count: infinite;
}
.progress-bar {
  width: 100%;
  height: 3px !important;
  border-radius: 0px;
  background: #000033 !important;
  position: relative;
  /* overflow: hidden; */
  /* margin-top: 1rem; */
}

.trained {
  font-size: 22px !important;
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 52.5px !important;
  color: #d42027 !important;
  border: 0px solid #ffffff !important;
  max-width: 95% !important;
}

.trained-h1 {
  font-family: "Ubuntu" ;
  font-size: 30px ;
  font-weight: 700 ;
  line-height: 45px ;
  max-width: 95% ;
  color: #000033 ;
}

.trained-p {
  font-family: "Ubuntu" !important;
  font-size: 18px !important;
  font-weight: 300 !important;
  line-height: 32px !important;
  color: #000033 !important;
}

.nav-tabs .nav-link.active {
  border-color: #fff !important;
}

.Tpara_01,
.Tpara_02 {
  font-family: "ubuntu";
  color: #000033;
  font-size: 20px;
  line-height: 30px;
}

.talented {
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  color: #000033;
}

.Tpara_01 {
  display: block;
}

.Tpara_02 {
  display: none;
}

@keyframes progress {
  0% {
    width: 0;
  }

  25% {
    width: 25%;
  }

  50% {
    width: 50%;
  }

  75% {
    width: 75%;
  }

  100% {
    width: 100%;
  }
}

@media only screen and (min-width: 2000px) {
  .weAreHeading,
  .caseStudyHeading {
    font-size: 30px;
  }

  .trained {
    font-size: 50px !important;

    &span {
      font-size: 18px !important;
      font-weight: 300;
    }
  }

  .runningTime {
    margin: 100px 0;
  }

  .trained-h1 {
    font-size: 30px !important;
    line-height: 60px !important;
    color: #000033 !important;
    color: #000033 !important;
    font-family: "ubuntu" !important;
  }

  .talented {
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 2000px) {
  .weAreHeading,
  .caseStudyHeading {
    font-size: 30px;
  }


  .trained {
    font-size: 45px;

    &span {
      font-size: 18px !important;
      font-weight: 300;
    }
  }

  .runningTime {
    margin: 100px 0;
  }

  .trained-h1 {
    font-size: 30px;
    line-height: 45px;
    color: #000033 !important;
    font-family: "ubuntu" !important;
  }

  .talented {
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 1500px) {
  .weAreHeading,
  .caseStudyHeading {
    font-size: 28px;
  }

  .trained {
    font-size: 35px;

    &span {
      font-size: 18px !important;
      font-weight: 300;
    }
  }

  .runningTime {
    margin: 80px 0;
  }

  h1.trained-h1 {
    font-size: 26px;
    line-height: 35px;
    color: #000033 !important;
    font-family: "ubuntu";
  }

  .talented {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .weAreHeading,
  .caseStudyHeading {
    font-size: 27px;
  }

  .trained {
    font-size: 35px !important;

    &span {
      font-size: 18px !important;
      font-weight: 300;
    }
  }

  .runningTime {
    margin: 60px;
    
  }
    .trained-h1 {
    font-size: 24px !important;
    line-height: 30px !important;
    color: #000033 !important;
    font-family: "ubuntu" !important;
  }

  .talented {
    font-weight: 400 !important;
    font-size: 25px !important;
    line-height: 30px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .weAreHeading,
  .caseStudyHeading {
    font-size: 25px;
  }

  .trained {
    font-size: 30px !important;

    &span {
      font-size: 18px !important;
      font-weight: 300;
    }
  }

  .trained-h1 {
    font-size: 25px;
    line-height: 27px;
    color: #000033 !important;
    font-family: "ubuntu";
  }

  .talented {
    font-weight: 400 !important;
    font-size: 24px !important;
    line-height: 26px !important;
  }
}

@media only screen and (max-width: 900px) {
  .trained {
    font-size: 20px !important;

    &span {
      font-size: 18px !important;
      font-weight: 300 !important;
    }
  }

  .trained {
    font-size: 20px !important;

    &span {
      font-size: 18px !important;
      font-weight: 300;
    }
  }

  .runningTime {
    margin: 20px 0;
  }

  h1.trained-h1 {
    font-size: 18px !important;
    line-height: 25px !important;
    color: #000033 !important;
    font-family: "ubuntu" !important;
  }
  p.Tpara_01 {
    font-size: 18px !important;
    line-height: 25px !important;
  }

  .talented {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 18px !important;
  }
}

@media only screen and (max-width: 768px) {
  .weAreHeading,
  .caseStudyHeading {
    font-size: 22px;
  }

  .trained {
    font-size: 20px !important;

    &span {
      font-size: 18px !important;
      font-weight: 300 !important;
    }
  }

  .runningTime {
    margin: 20px 0;
  }

  h1.trained-h1 {
    font-size: 16px !important;
    line-height: 20px !important;
    color: #000033 !important;
    font-family: "ubuntu" !important;
  }

  .Tpara_01 {
    display: none;
  }

  .talented {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 18px !important;
  }

  .Tpara_02 {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-family: "ubuntu";
    color: #000033;
  }

  .contact-space {
    padding: 35px;
  }

  .Tpara_02 {
    display: block;
  }

  .requestBtn {
    width: 180px !important;
    padding: 20px !important;
  }
}

@media only screen and (max-width: 425px) {
  .weAreHeading,
  .service,
  .caseStudyHeading {
    font-size: 20px;
  }


  .trained {
    font-size: 16px !important;

    &span {
      font-size: 17px !important;
      font-weight: 300;
    }
  }

  .contact-space {
    padding: 30px;
  }

  .trained-h1 {
    font-size: 14px !important;
    line-height: 16px !important;
    color: #000033 !important;
    font-family: "ubuntu";
  }

  .talented {
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 15px !important;
  }

  .runningTime {
    margin: 20px 0;
  }

  .Tpara_02 {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-family: "ubuntu";
    color: #000033;
  }

  .requestBtn {
    width: 160px !important;
    padding: 15px !important;
  }

  .curious {
    font-size: 25px !important;
    line-height: 25px;
  }

  .access {
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
  }
}

@media only screen and (max-width: 320px) {
  

  .trained {
    font-size: 14px !important;

    &span {
      font-size: 13px !important;
      font-weight: 300 !important;
    }
  }



  .talented {
    font-family: "ubuntu" !important;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
  }

  .runningTime {
    margin: 20px 0;
  }

  .contact-space {
    padding: 30px;
  }

  .curious {
    font-size: 25px !important;
    line-height: 25px;
  }

  .access {
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
  }
}



.content_solution {
  color: #000033;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  width: 90%;
  margin: 0 auto;
}


@media only screen and (max-width: 768px) {
  .content_solution {
    font-size: 20px !important;
    line-height: 30px;
  }
  .group_93 {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .content_solution {
    font-size: 18px !important;
    line-height: 28px;
  }
}

@media only screen and (max-width: 320px) {
}


.horizontal {
  border: 0.5px solid #d22027;
  margin: 3% 0;
}

.hr {
  width: 90px;
  border: 3px solid #d22027;
  margin-left: 1.5%;
  border-radius: 10px;
}

/* horizontal line */

/* transform */

.middle_page_1 {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  height: 220px;
}

.middle_page_1 > div:first-child {
  width: 98%;
  margin: 1% 3%;
  border-radius: 20px;
  background-color: #f3f8fb;
}

.vector_img {
  float: right;
  margin: 40px 40px 0 0;
  width: 70px;
}

.bussinessContainer {
  position: relative;
}

.group_83 {
  width: 140px;
  margin: 15px;
}

.bussinessImages {
  width: 35%;
  position: absolute;
  top: 5%;
  left: 6.5%;
}

.BussinessText {
  width: 200px;
  position: absolute;
  top: 0;
  left: 30px;

  &h1 {
    color: #d22027;
    font-size: 30px;
    font-weight: 700;
  }
}

.transfromPara {
  color: #000033;
  font-size:32px;
  font-family: "ubuntu";
  font-weight: 400;
}

.transformContent {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.transformtext {
  font-size: 74px;
  font-weight: 700;
  line-height: 81.22px;
  letter-spacing: 0.02em;
  text-align: left;
}

.div {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  font-size: 20px;
  letter-spacing: 1px;
  color: black;
}

.random-word {
  display: inline-block;
  color: #0d1035;
  letter-spacing: 3px;
  width: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 100px;
  animation: slidedown 2s infinite;
  -webkit-animation: slidedown 4s infinite;
  -moz-animation: slidedown 1s infinite;
}

@media only screen and (min-width: 2000px) {
  .middle_page_1 {
    height: 900px;
  }

  .textTform {
    color: #d22027;
    font-size: 120px !important;
    font-weight: 700;
  }

  .random-word {
    font-size: 100px !important;
    font-weight: 700;
    line-height: 50px !important;
  }

  .vector_img {
    float: right;
    margin: 40px 40px 0 0;
    width: 50px;
  }

  .group_83 {
    width: 160px;
  }

  .BussinessText {
    width: 850px;
    position: absolute;
    top: 0;
    left: 50%;
  }

  .bussinessImages {
    width: 25%;
  }

  .iframeMargin {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 2000px) {
  .middle_page_1 {
    height: 800px;
  }
  .iframeMargin {
    margin-top: 50px;
  }
  .vector_img {
    float: right;
    margin: 40px 40px 0 0;
    width: 50px;
  }

  .textTform {
    color: #d22027;
    font-size: 100px !important;
    font-weight: 700;
  }

  .bussinessImages {
    width: 28%;
  }

  .random-word {
    font-size: 100px !important;
    font-weight: 700;
    line-height: 50px !important;
  }

  .group_83 {
    width: 160px;
  }

  .BussinessText {
    width: 900px;
    position: absolute;
    top: 0;
    left: 50%;
  }

  .BussinessText {
    width: 800px;
    position: absolute;
    top: 0;
    left: 50%;
  }

  .transfromPara {
    font-size: 30px;
    font-family: "ubuntu";
  }
}

@media only screen and (max-width: 1800px) {
 

  .vector_img {
    float: right;
    margin: 40px 40px 0 0;
    width: 50px;
  }

  .group_83 {
    width: 160px;
  }

  .textTform {
    color: #d22027;
    font-size: 80px !important;
    font-weight: 700;
  }

  .random-word {
    font-size: 80px !important;
    font-weight: 700;
    line-height: 50px !important;
  }

  .BussinessText {
    width: 750px;
    position: absolute;
    top: 0;
    left: 50%;
  }

  .transfromPara {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1700px) {
  .middle_page_1 {
    height: 700px;
  }

  .textTform {
    color: #d22027;
    font-size: 70px !important;
    font-weight: 700;
  }

  .BussinessText {
    width: 650px;
    position: absolute;
    top: 0;
    left: 50%;
  }

  .random-word {
    font-size: 70px !important;
    font-weight: 700;
    line-height: 50px !important;
  }

  .group_83 {
    width: 130px;
  }
}

@media only screen and (max-width: 1440px) {
  .middle_page_1 {
    height: 600px;
  }

  .group_83 {
    width: 100px;
  }

  .textTform {
    color: #d22027;
    font-size: 65px !important;
    font-weight: 700;
  }

  .random-word {
    font-size: 60px !important;
    line-height: 50px !important;
  }

  .vector_img {
    width: 30px;
    margin: 20px 20px 0 0;
  }

  .random-word {
    font-size: 65px !important;
    line-height: 50px !important;
  }

  .BussinessText {
    width: 550px;
    position: absolute;
    top: 0;
    left: 50%;
  }

  .transfromPara {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1224px) {
  .middle_page_1 {
    height: 590px;
  }

  .group_83 {
    width: 100px;
  }

  .textTform {
    color: #d22027;
    font-size: 65px !important;
    font-weight: 700;
  }

  .random-word {
    font-size: 60px !important;
    line-height: 50px !important;
  }

  .vector_img {
    width: 30px;
    margin: 20px 20px 0 0;
  }

  .random-word {
    font-size: 65px !important;
    line-height: 50px !important;
  }

  .BussinessText {
    width: 460px;
    position: absolute;
    top: 0;
    left: 50%;
  }

  .bussinessImages {
    width: 35%;
  }

  .transfromPara {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .middle_page_1 {
    height: 490px;
  }

  .group_83 {
    width: 100px;
  }

  .textTform {
    color: #d22027;
    font-size: 60px !important;
    font-weight: 700;
  }

  .random-word {
    font-size: 60px !important;
    line-height: 50px !important;
  }

  .vector_img {
    width: 30px;
    margin: 20px 20px 0 0;
  }

  .random-word {
    font-size: 60px !important;
    line-height: 50px !important;
  }

  .BussinessText {
    width: 450px;
    position: absolute;
    top: 0;
    left: 50%;
  }

  .bussinessImages {
    width: 35%;
  }

  .transfromPara {
    font-size: 17px;
  }
}

@media only screen and (max-width: 1000px) {
  .middle_page_1 {
    height: 450px;
  }

  .group_83 {
    width: 100px;
  }

  .textTform {
    color: #d22027;
    font-size: 60px !important;
    font-weight: 700;
  }

  .random-word {
    font-size: 60px !important;
    line-height: 50px !important;
  }

  .vector_img {
    width: 30px;
    margin: 20px 20px 0 0;
  }

  .random-word {
    font-size: 60px !important;
    line-height: 50px !important;
  }

  .bussinessImages {
    width: 35%;
  }

  .BussinessText {
    width: 340px;
    position: absolute;
    top: 0;
    left: 50%;
  }

  .transfromPara {
    font-size: 17px;
  }
}

@media only screen and (max-width: 900px) {
 

  .group_83 {
    width: 90px;
  }

  .textTform {
    color: #d22027;
    font-size: 60px !important;
    font-weight: 700;
  }

  .random-word {
    font-size: 60px !important;
    line-height: 50px !important;
  }

  .vector_img {
    width: 30px;
    margin: 20px 20px 0 0;
  }

  .random-word {
    font-size: 55px !important;
    font-weight: 700;
    line-height: 50px !important;
  }

  .bussinessImages {
    width: 35%;
  }

  .BussinessText {
    width: 340px;
    position: absolute;
    top: 0;
    left: 50%;
  }

  .transfromPara {
    font-size: 17px;
  }
}

@media only screen and (max-width: 768px) {
  .middle_page_1 {
    height: 390px;
  }

  .bussinessImages {
    display: none;
  }

  .group_83 {
    width: 80px;
  }

  .textTform {
    color: #d22027;
    font-size: 60px !important;
    font-weight: 700;
  }

  .random-word {
    font-size: 60px !important;
    line-height: 50px !important;
  }

  .vector_img {
    width: 30px;
    margin: 20px 20px 0 0;
  }

  .random-word {
    font-size: 55px !important;
    font-weight: 700;
    line-height: 50px !important;
  }

  .BussinessText {
    width: 560px;
    position: absolute;
    top: 0;
    left: 30px;
  }

  .transfromPara {
    font-size: 15px;
  }

  .iframeMargin {
    margin-top: 55px;
  }
 
}

@media only screen and (max-width: 600px) {
  .middle_page_1 {
    height: 390px;
  }

  .group_83 {
    width: 70px;
  }

  .textTform {
    color: #d22027;
    font-size: 50px !important;
    font-weight: 700;
  }

  .random-word {
    font-size: 60px !important;
    line-height: 50px !important;
  }

  .vector_img {
    width: 30px;
    margin: 20px 20px 0 0;
  }

  .random-word {
    font-size: 50px !important;
    font-weight: 700;
    line-height: 50px !important;
  }

  .BussinessText {
    width: 370px;
    position: absolute;
    top: 0;
    left: 30px;
  }

  .transfromPara {
    font-size: 15px;
  }

  .iframeMargin {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 425px) {
  .middle_page_1 {
    height: 290px;
  }

  .iframeMargin {
    margin-top: 50px;
  }

  .group_83 {
    width: 50px;
  }

  .BussinessText {
    width: 310px;
    position: absolute;
    top: 0;
    left: 30px;
  }

  .textTform {
    color: #d22027;
    font-size: 40px !important;
    font-weight: 700;
  }

  .vector_img {
    width: 20px;
    margin: 10px 10px 0 0;
  }

  .random-word {
    font-size: 45px !important;
    font-weight: 700;
    line-height: 50px !important;
  }

  .bussinessText > div p:nth-child(2) {
    font-size: 18px;
    font-weight: 500;
  }

  .transfromPara {
    font-size: 13px;
  }
}

@media only screen and (max-width: 375px) {
  .middle_page_1 {
    height: 250px;
  }

  .iframeMargin {
    margin-top: 50px;
  }

  .group_83 {
    width: 45px;
  }

  .BussinessText {
    width: 290px;
    position: absolute;
    top: 0;
    left: 30px;
  }

  .textTform {
    color: #d22027;
    font-size: 32px !important;
    font-weight: 700;
  }

  .transfromPara {
    font-size: 11px;
  }

  .vector_img {
    width: 20px;
    margin: 10px 10px 0 0;
  }

  .random-word {
    font-size: 40px !important;
    font-weight: 700;
    line-height: 50px !important;
  }

  .bussinessText > div p:nth-child(2) {
    font-size: 18px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 320px) {
  .middle_page_1 {
    height: 220px;
  }

  .transfromPara {
    font-size: 11px;
  }

  .group_83 {
    width: 30px;
  }

  .BussinessText {
    width: 270px;
    position: absolute;
    top: -15px;
    left: 30px;
  }

  .textTform {
    color: #d22027;
    font-size: 30px !important;
    font-weight: 700;
  }

  .vector_img {
    width: 20px;
    margin: 10px 10px 0 0;
  }

  .random-word {
    font-size: 37px !important;
    font-weight: 700;
    line-height: 50px !important;
  }

  .iframeMargin {
    margin-top: 45px;
  }
}

/* transform */
.case_02_tab li {
  background-color: #d2d3d4;
  padding: 5px;
  border-radius: 10px;
}

.deActiveT {
  background-color: #d2d3d4;
}

.activeT {
  background-color: #1b3954;
}
